@import "animation.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(0, 0%, 41%);
  --clr-black: hsl(0, 0%, 8%);
  --font-size-sm: clamp(0.75rem, 0.77vw + 0.45rem, 1.43rem);
  --font-size-base: clamp(1rem, 1.02vw + 0.59rem, 1.9rem);
  --font-size-md: clamp(1.33rem, 1.37vw + 0.78rem, 2.53rem);
  --font-size-lg: clamp(1.77rem, 1.83vw + 1.04rem, 3.38rem);
  --font-size-xl: clamp(2.35rem, 2.44vw + 1.38rem, 4.5rem);
  --font-size-xxl: clamp(3.13rem, 3.26vw + 1.82rem, 6rem);
  --font-size-xxxl: clamp(4.16rem, 4.36vw + 2.42rem, 8rem);
  --ff: "Epilogue", sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
}
img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-black);
  font-family: var(--ff);
  font-weight: 700;
  font-family: var(--ff);
}

h1 {
  font-size: var(--font-size-xxl);
}
h2 {
  font-size: var(--font-size-xl);
}
h3 {
  font-size: var(--font-size-lg);
}
h4 {
  font-size: var(--font-size-md);
}
h5 {
  font-size: var(--font-size-base);
}
h6 {
  font-size: var(--font-size-base);
}
p {
  font-size: var(--font-size-base);
  color: var(--clr-gray);
}
a {
  text-decoration: none;
  opacity: 0.75;
  color: black;
  font-size: var(--font-size-sm);
}
.container {
  display: grid;
  grid-template-columns:
    [container-start] repeat(12, minmax(min-content, 12rem))
    [container-end];
  justify-content: center;
}
.row {
  grid-column: container-start/container-end;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
}
.navbar__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  margin-right: 4rem;
  height: 2rem;
  width: 7rem;
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
    hue-rotate(324deg) brightness(96%) contrast(104%);
}
.nav__list {
  display: flex;
  align-items: center;

  column-gap: 30%;
}
.nav__list--link {
  font-weight: 500;
  color: var(--clr-black);

  opacity: 0.75;
  cursor: pointer;
  transition: all 0.5s ease;
}
.nav__list--link:hover {
  opacity: 1;
}
.nav__list--link::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--clr-gray);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  bottom: -50%;
}
.nav__list--link:hover::before {
  animation: navrun 0.5s both;
}

@keyframes navrun {
  0% {
    width: 0;

    transform: translateX(100%);
  }
  25% {
    width: 25%;
    transform: translateX(75%);
  }
  50% {
    width: 50%;
    transform: translateX(50%);
  }
  75% {
    width: 75%;
    transform: translateX(25%);
  }
  100% {
    width: 100%;
    transform: translateX(0%);
  }
}
.up {
  display: none;
}
.feature-list,
.company-list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 3px 3px 10px 3px #d9d9d9;
  border-radius: 1rem;
  z-index: 1;
}
.nav__list--item:hover .feature-list,
.nav__list--item:hover .company-list {
  display: block;
}
.feature-list li,
.company-list li {
  padding: 12px 8px;
  text-decoration: none;
  font-size: var(--font-size-sm);
  text-align: left;
}

.nav__list--link ul li img {
  vertical-align: middle;
}

.form {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.form .register {
  border: 2px solid;
  padding: 6% 12%;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
.register:hover {
  background-color: var(--clr-black);
  border-color: var(--clr-white);
  color: var(--clr-white);
}
.nav__list--link {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.hero__content {
  padding: 5rem 10rem 0 13rem;
  display: flex;
}
.hero__text {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 0 auto;
  padding: 10% 5% 0;
  row-gap: 10%;
}

.hero__text--details {
  line-height: 2;
  font-size: var(--font-size-sm);
}
.hero__text--cta {
  padding: 3% 12%;
  background-color: black;
  color: var(--clr-white);
  font-size: var(--font-size-sm);
  align-self: flex-start;
  font-weight: 500;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.hero__text--cta:hover {
  background-color: var(--clr-white);
  border-color: var(--clr-black);
  color: var(--clr-black);
}
.hero__text--campanies {
  align-self: flex-end;
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  gap: 5%;
}
.hero__text--campanies img {
  width: 9rem;
  height: 2rem;
  margin-right: 5%;
}

.hero__img {
  flex: 0 0 50%;
}
.hero__img img {
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .hero__content {
    flex-direction: row-reverse;
    margin: auto;
    gap: 5%;
  }
  .hero__text {
    padding: 8% 4% 0;
    gap: 2rem;
  }
  .form .register {
    padding: 6% 12%;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 2.5rem;
  }
  .hero__content {
    padding: 2.5rem;
  }
  .hero__content {
    flex-direction: column-reverse;
    margin: auto;
    gap: 5%;
  }
  .hero__text {
    padding: 8% 4% 0;
    gap: 2rem;
    text-align: center;
    align-items: center;
  }
  .hero__text--cta {
    align-self: center;
  }
  .form .register {
    padding: 6% 12%;
  }
}
@media (max-width: 576px) {
  .navbar {
    padding: 2rem;
  }
  .navbar__nav {
    flex-direction: column;
    gap: 5%;
    padding: 6rem 3rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
    z-index: 999;
    box-shadow: 3px 3px 10px 3px #d9d9d9;
    justify-content: flex-start;
    background-color: var(--clr-white);
    transform: translateX(500rem);
  }
  .nav__list {
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
  }
  .nav__list--item {
    width: 100%;
    text-align: left;

    padding: 2rem 20rem 0 0;
  }
  .nav__list--link {
    font-size: var(--font-size-md);
  }

  .feature-list li,
  .company-list li {
    padding: 12px 8px;
    text-decoration: none;
    font-size: var(--font-size-md);
    text-align: left;
  }
  .navbar__toggler {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 9999;
  }
  .line-1,
  .line-2,
  .line-3 {
    width: 2.4rem;
    height: 0.3rem;
    margin: 0.4rem 0;
    background-color: var(--clr-black);
    transition: all 0.5s ease-in-out;
    z-index: 99;
  }
  .toggle .line-1 {
    transform: translate(0, 3px) rotate(-45deg);
  }
  .toggle .line-2 {
    opacity: 0;
  }
  .toggle .line-3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .form {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .form .register,
  .form .login {
    width: 100%;
    font-size: var(--font-size-md);
    margin: 1rem;
  }
  .hero__content {
    padding: 0;
  }
}
@media (max-width: 375px) {
  .hero__content {
    padding: 0;
  }
  .navbar__nav {
    padding: 1rem;
    margin: 0 auto;
  }
  .form {
    flex-direction: column;
    gap: 0;
    padding: 1rem;
    margin: 0 auto;
  }
  .form .register,
  .form .login {
    width: 100%;
    font-size: var(--font-size-md);
  }
  .form .register {
    padding: 2% 4%;
    align-self: flex-end;
  }
}
